project/force-app/main/default/flows/Account_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <dynamicChoiceSets>
        <name>RecordTypeChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CustomerTypeChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Customer_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TradingPartnerChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Trading_Partner__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalutationChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatusChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AccountSourceChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AccountSource</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    
    <environments>Default</environments>
    <interviewLabel>Account Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    
    <recordLookups>
        <name>Get_Record_Type_Details</name>
        <label>Get Record Type Details</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Core_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value><elementReference>Account_Name</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Short_Name__c</field>
            <value><elementReference>Account_Short_Name</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value><elementReference>Phone</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value><elementReference>Email</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand__c</field>
            <value><elementReference>Brand.recordId</elementReference></value>
        </inputAssignments>
        
        <inputAssignments>
            <field>Tax_Code__c</field>
            <value><elementReference>Tax_Code</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Enterprise_Code_Certificate__c</field>
            <value><elementReference>Enterprise_Code</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Type__c</field>
            <value><elementReference>Customer_Type</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Trading_Partner__c</field>
            <value><elementReference>Trading_Partner</elementReference></value>
        </inputAssignments>
        
        <inputAssignments>
            <field>Salutation__c</field>
            <value><elementReference>Salutation</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>ID_Number_Passport__c</field>
            <value><elementReference>ID_Number_Passport</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Issued_Date__c</field>
            <value><elementReference>Issued_Date</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Issued_Place__c</field>
            <value><elementReference>Issued_Place</elementReference></value>
        </inputAssignments>
        
        <inputAssignments>
            <field>Bankey_Name__c</field>
            <value><elementReference>Bankey.recordId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Bank_Number__c</field>
            <value><elementReference>Account_Bank_Number</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Holder__c</field>
            <value><elementReference>Account_Holder_Name</elementReference></value>
        </inputAssignments>
        
        <inputAssignments>
            <field>Type</field>
            <value><elementReference>Account_Type_Picklist</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value><elementReference>Status</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountSource</field>
            <value><elementReference>Account_Source</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value><elementReference>ParentAccount.recordId</elementReference></value>
        </inputAssignments>
        
        <inputAssignments>
            <field>Country_1__c</field>
            <value><elementReference>Country</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Province_1__c</field>
            <value><elementReference>Province_City</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>District_1__c</field>
            <value><elementReference>District</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Ward_1__c</field>
            <value><elementReference>Ward</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_1__c</field>
            <value><elementReference>Street</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_1__c</field>
            <value><elementReference>Full_Address</elementReference></value>
        </inputAssignments>
        
        <inputAssignments>
            <field>Number_Of_RO_In_Vincom__c</field>
            <value><elementReference>No_of_RO_in_Vincom</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_RO_In_Shop_House__c</field>
            <value><elementReference>No_of_Shophouses</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Area_Renting_At_Vincom__c</field>
            <value><elementReference>Total_Area_Renting_m2</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Vincom_Usual_Rental_Area__c</field>
            <value><elementReference>Usual_Rental_Area</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Revenue__c</field>
            <value><elementReference>Revenue_Brought</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value><elementReference>Notes</elementReference></value>
        </inputAssignments>

        <inputAssignments>
            <field>RecordTypeId</field>
            <value><elementReference>Get_Record_Type_Details.Id</elementReference></value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    
    <screens>
        <name>Screen_Record_Type</name>
        <label>Select Account Type</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Record_Type_Details</targetReference>
        </connector>
        <fields>
            <name>Account_Type</name>
            <choiceReferences>RecordTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Account Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <screens>
        <name>Screen_Core_Info</name>
        <label>Core Information &amp; Legal</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_Banking</targetReference>
        </connector>
        <fields>
            <name>Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Account Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Account_Short_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Account Short Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Phone</name>
                    <dataType>String</dataType>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Email</name>
                    <dataType>String</dataType>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Brand</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value><stringValue>Brand__c</stringValue></value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value><stringValue>Brand</stringValue></value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value><stringValue>Account</stringValue></value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value><booleanValue>true</booleanValue></value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value><stringValue>6</stringValue></value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tax_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Tax Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Record_Type_Details.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue><stringValue>Business_Tenant</stringValue></rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Enterprise_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Enterprise Code/Certificate</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Record_Type_Details.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue><stringValue>Business_Tenant</stringValue></rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Customer_Type</name>
                    <choiceReferences>CustomerTypeChoices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Customer Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Record_Type_Details.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue><stringValue>Business_Tenant</stringValue></rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Trading_Partner</name>
                    <choiceReferences>TradingPartnerChoices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Trading Partner</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Record_Type_Details.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue><stringValue>Business_Tenant</stringValue></rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                
                <fields>
                    <name>Salutation</name>
                    <choiceReferences>SalutationChoices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Salutation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Record_Type_Details.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue><stringValue>Individual_Tenant</stringValue></rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ID_Number_Passport</name>
                    <dataType>String</dataType>
                    <fieldText>ID Number/Passport</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Record_Type_Details.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue><stringValue>Individual_Tenant</stringValue></rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Issued_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Issued Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Record_Type_Details.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue><stringValue>Individual_Tenant</stringValue></rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Issued_Place</name>
                    <dataType>String</dataType>
                    <fieldText>Issued Place</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Record_Type_Details.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue><stringValue>Individual_Tenant</stringValue></rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                
                <inputParameters>
                    <name>width</name>
                    <value><stringValue>6</stringValue></value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <screens>
        <name>Screen_Banking</name>
        <label>Banking &amp; Classification</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_Address</targetReference>
        </connector>
        <fields>
            <name>Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bankey</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value><stringValue>Bankey_Name__c</stringValue></value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value><stringValue>Bank Reference</stringValue></value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value><stringValue>Account</stringValue></value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value><booleanValue>false</booleanValue></value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Account_Bank_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Account Bank Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Account_Holder_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Account Holder Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value><stringValue>6</stringValue></value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Type_Picklist</name>
                    <choiceReferences>TypeChoices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Account Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Status</name>
                    <choiceReferences>StatusChoices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Account_Source</name>
                    <choiceReferences>AccountSourceChoices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Account Source</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ParentAccount</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value><stringValue>ParentId</stringValue></value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value><stringValue>Parent Account</stringValue></value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value><stringValue>Account</stringValue></value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value><booleanValue>false</booleanValue></value>
                    </inputParameters>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value><stringValue>6</stringValue></value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <screens>
        <name>Screen_Address</name>
        <label>Address &amp; Vincom Info</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
        <fields>
            <name>Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Country</name>
                    <dataType>String</dataType>
                    <fieldText>Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Province_City</name>
                    <dataType>String</dataType>
                    <fieldText>Province/City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>District</name>
                    <dataType>String</dataType>
                    <fieldText>District</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Ward</name>
                    <dataType>String</dataType>
                    <fieldText>Ward</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Street</name>
                    <dataType>String</dataType>
                    <fieldText>Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Full_Address</name>
                    <dataType>String</dataType>
                    <fieldText>Full Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value><stringValue>6</stringValue></value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>No_of_RO_in_Vincom</name>
                    <dataType>Number</dataType>
                    <fieldText>No. of RO in Vincom</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>No_of_Shophouses</name>
                    <dataType>Number</dataType>
                    <fieldText>No. of Shophouses</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Total_Area_Renting_m2</name>
                    <dataType>Number</dataType>
                    <fieldText>Total Area Renting (m2)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Usual_Rental_Area</name>
                    <dataType>Number</dataType>
                    <fieldText>Usual Rental Area</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Revenue_Brought</name>
                    <dataType>Currency</dataType>
                    <fieldText>Revenue Brought</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Notes</name>
                    <fieldText>Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value><stringValue>6</stringValue></value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <screens>
        <name>Screen_Error</name>
        <label>Error</label>
        <locationX>440</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style="color: rgb(255, 0, 0);"&gt;Account creation failed!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Common reasons: Tax Code or Phone number already exists (duplicate), or a required field is missing/invalid.&lt;/p&gt;&lt;br&gt;&lt;p&gt;&lt;strong&gt;System Error:&lt;/strong&gt; {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <screens>
        <name>Screen_Success</name>
        <label>Success</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style="color: rgb(0, 153, 51);"&gt;Account Created Successfully!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Click &lt;a href="/{!Create_Account}" target="_blank"&gt;here&lt;/a&gt; to view the new Account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
