project/force-app/main/default/flows/Opp_ClosedWon_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>Tự động sinh Contract và RO Handover khi Opportunity = Closed Won</description>
    <environments>Default</environments>
    <formulas>
        <name>QueueDeveloperName</name>
        <dataType>String</dataType>
        <expression>&quot;BQL_&quot; &amp; SUBSTITUTE({!$Record.Business_Entity__r.Name}, &quot; &quot;, &quot;_&quot;)</expression>
    </formulas>
    <formulas>
        <name>OwnerIdFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Queue.Id}), {!$Record.OwnerId}, {!Get_Queue.Id})</expression>
    </formulas>
    <interviewLabel>Opportunity Closed Won Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Closed Won Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get BQL Queue</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <recordCreates>
        <name>Create_Contract</name>
        <label>Create Contract</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Create_RO_Handover</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RO_Handover_Date__c</field>
            <value>
                <elementReference>$Record.RO_Handover_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration_LED_Screen_Rental_Contracts__c</field>
            <value>
                <elementReference>$Record.Duration_Month__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <recordCreates>
        <name>Create_RO_Handover</name>
        <label>Create RO Handover</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>Create_Contract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>RO Handover</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OTL_Contract_Handover_Date__c</field>
            <value>
                <elementReference>$Record.OTL_Contract_Handover_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RO__c</field>
            <value>
                <elementReference>$Record.RO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerIdFormula</elementReference>
            </value>
        </inputAssignments>
        <object>RO_Handover__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>Create_Contract</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>

    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    
    <status>Active</status>
</Flow>
